@import "base/reset";
@import "base/config";

@import "viewport-grid/lib/viewport-grid.scss";
@import "typecabinet/lib/sass/typecabinet.scss";
@import "rye/dist/rye.scss";

@import "base/text-mixins";


@import "modules/expanding-nav";
@import "modules/footer";
@import "modules/inline-menu";
@import "modules/header";
@import "modules/table";
@import "modules/buttons";
@import "modules/all-of-him";
@import "modules/forms";

@import "modules/cart";

@import "base/text-helpers";

a {
  @include link-color($maroon, $blue-gray);
  text-decoration: none;
}

h2 {
  line-height: 2*$baseline;
}

.poems pre {
  @extend .body-face;
}

cite {
  color: $gray;
  @include font-size(-1);
}