<% wrap_layout :layout do %>
  <div class="container about">
    <div class="two-column content-area">
      <img src="/assets/img/about/Sandy.jpg" alt="Sandy Tilcock At the Press">
      <img src="/assets/img/about/McGriff_Keith_Achepohl_watchng_mixing_ink.JPG" alt="Sandy Tilcock At the Press">
      <img src="/assets/img/about/Proofing_type_Handset.JPG" alt="Sandy Tilcock At the Press">
      <img src="/assets/img/about/Matthew_Dickman_and_Sandy.JPG" alt="Sandy Tilcock At the Press">
      <%= yield %>
    </div>
    <div class="content-area">
      <h3>Assistants</h3>
      <p>Joining Sandy in the studio are Patrick, Sadie, Rosie and Samantha.</p>

      <div class="block-grid block-grid-4-up tablet-block-grid-2-up phone-block-grid-1-up">

        <div class="block">
          <img title="Patrick Tilcock" alt="Patrick Tilcock" class="small" src="/assets/img/assistants/Patrick.jpg">
          <p>Patrick, Sandy’s partner for more than 40 years, has been actively engaged in the work of lone goose press since its beginning. Besides providing support services such as great meals, insistence on taking time for fun and helping maintain the studio he also works as the press’s editor and copy writer.</p>
        </div>
        <div class="block">
          <img title="Sadie" alt="Sadie" class="small" src="/assets/img/assistants/Sadie.JPG">
          <p>Sadie has witnessed a number of lone goose publications in her eleven years with the press. Both staff and visitors have come to appreciate her enthusiastic and cordial manner, and her willingness to offer her opinions on a variety of topics, especially those touching on treats or exercise.</p>
        </div>
        <div class="block">
          <img title="Samantha" alt="Samantha" class="small" src="/assets/img/assistants/Samantha.JPG">
          <p>Samantha, the newest member of the lone goose team, is working at completing her apprenticeship and mastering the difference between tools and&nbsp;toys.</p>
        </div>
        <div class="block">
          <img title="Rosie" alt="Rosie" class="small" src="/assets/img/assistants/Rosie2.jpg">
          <p>Rosie, the elegant member of the contingent, often finds herself in some interesting positions and locations as she finds a spot to view the activities. These reflect her true personality which is comedienne in training</p>
        </div>
      </div>
    </div>
  </div>
<% end %>

