<% wrap_layout :layout do %>
  <div class="container blog">
      <div class="content-area">
        <%= yield %>

        <% blog.articles.each do |article| %>
          <h1>hey</h1>
          <%= partial 'partials/blog_in_list', locals: {article: article} %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
