<% wrap_layout :layout do %>
  <div class="container cart">
    <div class="content-area">
      <%= yield %>
      <hr>

      <div class="cart-head">
        <h5>
          <span class="item">Item</span>
          <span class="quantity">Quantity</span>
          <span class="price">Price</span>
        </h5>
      </div>

      <div ng-repeat="item in cart.items">
        <h5>
          <span class="item">{{item.name}}</span>
          <span class="quantity"><input type="number" ng-model="item.quantity">{{item.quantity}}</span>
          <span class="price">{{item.price | currency}}</span>
          <span class="remove"><a href="#" ng-click="console.log('click')">x</a></span>
        </h5>
      </div>

      <div class="cart-foot">
        <h5>
          <span class="total-price">{{cart.getTotalCount()}}</span>
          <span class="total-price">{{cart.getTotalPrice() | currency}}</span>
        </h5>
      </div>

    </div>
  </div>
<% end %>
