<% wrap_layout :layout do %>
  <div class="container case-study">
      <div class="content-area">
        <h2><%= current_page.data.title %></h2>
        <% if current_page.data.commisioned_by %>
          <h5 class="center-text">Commisioned by <%= current_page.data.commisioned_by %></h5>
        <% end %>
        <%= yield %>
        <h5 class='center-text'><a href="mailto:info@lonegoosepress.com">Contact the Press</a></h5>
      </div>
    </div>
  </div>
<% end %>
