<% wrap_layout :layout do %>
  <%= partial 'partials/header' %>
  <div class="container">
    <div class="col-group">
      <%= yield %>
      <%= partial 'partials/latest_post' %>
      <%= partial 'partials/latest_publication' %>
    </div>
  </div>
<% end %>

