<footer>
  <div class="container">
    <div class="content-area">
      <ul class="center">
        <li>2580 Augusta Street</li>
        <li>Eugene, OR 97403</li>
        <li>541-465-9079</li>
        <li><a href="mailto:info@lonegoosepress.com">info@lonegoosepress.com</a></li>
      </ul>
      <p class="introduction center">lone goose press is dedicated to excellence in the crafts of typographic design, letterpress printing and bookbinding.</p>
    </div>
  </div>
</footer>