<footer>
  <p>lone goose press is dedicated to excellence in the crafts of typographic design, letterpress printing and bookbinding. Over the last two decades, proprietor Sandy Tilcock’s work has been recognized for its impeccable and imaginative craftsmanship and design.</p>
  <ul>
    <li>Publications</li>
    <li>Books</li>
    <li>Broadsides</li>
    <li>Ephemera</li>
  </ul>
  <ul>
    <li>Services</li>
    <li>Design</li>
    <li>Boxmaking</li>
    <li>Bookbinding</li>
  </ul>
</footer>