<footer>
  <div class="container">
    <div class="col-group">
      <div class="col col1of3">
        <p>lone goose press is dedicated to excellence in the crafts of typographic design, letterpress printing and bookbinding. Over the last two decades, proprietor Sandy Tilcock’s work has been recognized for its impeccable and imaginative craftsmanship and design.</p>
      </div>
      <div class="col col1of6 pre1of12">
        <ul>
          <li>Publications</li>
          <li>Books</li>
          <li>Broadsides</li>
          <li>Ephemera</li>
        </ul>
      </div>
      <div class="col col1of6">
        <ul>
          <li>Services</li>
          <li>Design</li>
          <li>Boxmaking</li>
          <li>Bookbinding</li>
        </ul>
      </div>
      <div class="col col1of6">
        <ul>
          <li>2580 Augusta Street</li>
          <li>Eugene, OR 97403</li>
          <li>541-465-9079</li>
          <li>info@lonegoosepress.com</li>
        </ul>
      </div>
    </div>
  </div>
</footer>