<header>
  <div class="container">
    <div class="col-group">
      <div class="col col2of3 pre1of6">
        <h1>lone goose press</h1>
        <p>
          <a href="#">Books</a>
          <a href="#">Broadsides</a>
          <a href="#">Ephemera</a>
          <a href="#">Bookbinding</a>
          <a href="#">Boxmaking</a>
          <a href="#">Design</a>
        </p>
      </div>
    </div>
  </div>
</header>