<header>
  <div class="container">
    <div class="col-group">
      <div class="col col2of3 pre1of6">
        <h1>lone goose press</h1>
        <p>2580 Augusta Street / Eugene, OR 97403 / 541-465-9079</p>
      </div>
    </div>
  </div>
</header>