<section class="col col5of12 post1of12">
  <% @publications[0..0].each_with_index do |publication| %>
    <h1><%= publication.data.title %></h1>
    <p><%= publication.data.description%></p>
  <% end %>
</section>