<nav class="clearfix">
  <div class="container">
    <ul class="left horizontal-nav">
      <li><a href="/">press</a></li>
      <li><a href="/">publications</a></li>
      <li><a href="/">services</a></li>
    </ul>
    <ul class="right horizontal-nav">
      <li><a href="/">about</a></li>
      <li><a href="/">blog</a></li>
    </ul>
  </div>
</nav>