<nav class="clearfix">
  <div class="container">
    <ul class="left horizontal-nav">
      <li class="portfolio work drawer-toggle" data-direction="active-top">
        menu
      </li>
    </ul>

    <ul class="right horizontal-nav">
      <li>lone goose press</li>
    </ul>
  </div>
</nav>