<nav class="clearfix">
  <div class="container">
    <ul class="horizontal-nav center">
      <li class="portfolio work drawer-toggle" data-direction="active-top">
        <a href="#">menu</a>
      </li>
    </ul>
  </div>
</nav>