.content-area {
  width: $width;
  max-width: 68*$pica;
  margin: auto;
  @include respond-to(37.5rem) {
    width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  ol,
  ul,
  pre,
  p {
    max-width: $measure;
    margin: auto;
    margin-bottom: 1*$baseline;
    @include respond-to(66.5rem){
      max-width: $width;
    }
    @include respond-to(55rem){
      max-width: 100%;
    }
  }

  ol ul,
  ol ol,
  ul ul,
  ul ol {
    max-width: 100%;
  }

  h2 {
    text-align: center;
  }

  img {
    width: $un-measure;
    max-width: $un-measure;
    margin-left: - ($un-measure - 100%) / 2;
  }

  blockquote p {
    @include p22-5();
    font-style: italic;
    max-width: 100%;
    color: $gray;
    margin-top: 2*$baseline;
    margin-bottom: 2*$baseline;
    &:first-letter {
      margin-left: -0.45em;
    }
  }

  hr {
    width: 10%;
    border-bottom: 2px solid $dark-gray;
  }


}
