.block-grid {
  font-family: monospace;
  letter-spacing: -.65em;
  margin-left: -1em;
  margin-right: -1em;
  text-align: left;
  display: block;
  &.center {
    text-align: center;
  }
}

.block {
  @extend %GillSans;
  position: relative;
  display: inline-block;
  float: none;
  @include box-sizing(border-box);
  padding-left: 1em;
  padding-right: 1em;
  letter-spacing: normal;
  text-align: left;
  vertical-align: top;
}

@mixin _block-grid ($prefix: "") {
  .#{$prefix}block-grid-1-up .block { width: 100%; }
  .#{$prefix}block-grid-2-up .block { width: 50%; }
  .#{$prefix}block-grid-3-up .block { width: 33.33333%; }
  .#{$prefix}block-grid-4-up .block { width: 25%; }
  .#{$prefix}block-grid-5-up .block { width: 20%; }
}

@include _block-grid();

@include respond-to($tablet-mid){
  @include _block-grid("tablet-");
}

@include respond-to($phone){
  @include _block-grid("phone-");
}