@mixin constrain {
  width: 80%;
  max-width: 45em;
  padding: 0 10%;
  margin: 0 auto;
}

.constrain {
  @include box-sizing(border-box);
  width: 80%;
  max-width: 45em;
  padding: 0 10%;
  margin: 0 auto;
  &.wider {
    max-width: 1280px;
  }
  .full-width {
    width: 100vw;
    height: auto;
  }
  @include respond-to(0, 700px) {
    width: 100%;
    padding: 0 1rem;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

img {
  max-width: 100%;
}
