body {
  @extend %GillSans;
  @include p13-5();
  color: $text-color;
}

h1 {
  @extend %Superclarendon;
  color: $text-tonal;
}

h2,
h3,
h4,
h5,
h6 {
  @extend %GillSans;
  font-weight: 400;
}

h1 {
 @include p44();
}
h2 {
  @include p37-5();
}
h3 {
  @include p26();
}
h4 {
  @include p22-5();
}
h5 {
  @include p16();
}
h6 {
 @include p13-5();
}

p {
  @extend  %GillSans;
  &.no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
  &.no-margin-top {
    margin-top: 0;
  }
  &.no-margin-bottom {
    margin-bottom: 0;
  }
}

blockquote p {
  @include p16();
}

.center-text {
  text-align: center;
}