body {
  @extend %GillSans;
  @extend %p13-5;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  @extend %Superclarendon;
  color: $text-tonal;
}

h1 {
 @extend %p37-5;
 padding-bottom: 1*$baseline;
}
h2 {
  @extend %p26;
  padding-bottom: 1*$baseline;
}
h3 {
  @extend %p22-5;
  padding-bottom: 1*$baseline;
}

p {
  @extend  %GillSans;
  padding-bottom: 1*$baseline;
}

blockquote p {
  @extend %p16;
}

.center-text {
  text-align: center;
}