<!DOCTYPE html>
<html>
  <head>

    <!-- Set encoding -->
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- Use title from page frontmatter -->
    <title>{{title}} | lone goose press</title>

    <!-- Link to favicon -->
    <!-- <link rel="shortcut icon" href="{{relativePath}}assets/img/favicon.ico"> -->

    <!-- stylesheets -->
    <link rel="stylesheet" href="/assets/css/style.css">
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="wrapper">
      <div class="expanding js-expanding">
        <section class="expanding-menu js-expanding" data-expanding="menu">
          <div class="grid-container padding-trailer-half">
            <div class="column-24 text-center leader-half trailer-1">
              <a href="#" class="site-nav-toggle js-expanding-toggle" data-expanding="menu">close</a>
            </div>
            <div class="column-5 pre-9 tablet-pre-3 leader-2 phone-leader-0">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About the Press</a></li>
                <li><a href="/publications/">Publications</a>
                  <ul>
                    <li><a href="/publications/broadsides/">Broadsides</a></li>
                    <li><a href="/publications/books/">Books</a></li>
                    <li><a href="/publications/poetic-prayer-flags/">Poetic Prayer Flags</a></li>
                    <li><a href="/publications/ephemera/">Chapbooks, Ephemera</a></li>
                  </ul>
                </li>
                <li><a href="/commisions/">Commissions</a>
                  <ul>
                    <li><a href="/commisions/design/">Design</a></li>
                    <li><a href="/commisions/publishing/">Publishing</a></li>
                    <li><a href="/commisions/realization/">Realization</a></li>
                  </ul>
                </li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/cart/">Cart / Orders</a></li>
              </ul>
            </div>
          </div>
        </section>
      </div>

      {% if homepage %}
        <nav class='site-nav site-nav-homepage'>
      {% else %}
        <nav class='site-nav trailer-2'>
      {% endif %}
        <div class="grid-container text-center leader-half trailer-half" >
          <div class="column-12 pre-6">
            <a href="#" class="site-nav-toggle js-expanding-toggle" data-expanding="menu">menu</a>
          </div>
          <div class="column-6 tablet-column-7 phone-column-4 text-right">
            <a href="/cart" class="tinycart-link"></a>
          </div>
        </div>
      </nav>

      {% block content %}{% endblock %}

      <div class="grid-container">
        {% include '../_partials/inline-menu.html' %}
      </div>
    </div>

    {% include '../_partials/footer.html' %}

    <script src="/assets/js/bundle.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59828723-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
