---
title: contact
layout: layout
---

<div class="content-area">
  <!-- <h2>Contact</h2> -->
  <aside>
    <figure>
      <img src="/assets/img/lonegoose.png" alt="lone goose press">
    </figure>
  </aside>
  <main>
    <h4>General Information</h4>
    <h5>
      <a href="mailto:info@lonegoosepress.com">info@lonegoosepress.com</a>
    </h5>
    <h4>Marketing</h4>
    <h5>
      <a href="mailto:marketing@lonegoosepress.com">marketing@lonegoosepress.com</a>
    </h5>

    <h4>Canine Assistants</h4>
    <h5>
      <a href="mailto:dogs@lonegoosepress.com">dogs@lonegoosepress.com</a>
    </h5>

    <p>
      <pre>
        <strong>
2580 Augusta Street
Eugene, OR 97403
541-465-9079
        </strong>
      </pre>
    </p>

  </main>
  <div class="studio-image">
    <figure>
       <img src="/assets/img/Studio.jpg" alt="the studio press">
    </figure>
  </div>
</div>
