$nav-panel: 0.4*$tonal*$measure;

%panel {
  @include box-sizing(border-box);
  // margin-left: -0.3*$nav-panel;
  border: 2*$p solid $darkest-gray;
  background: rgba($white, 0.5);
}

%panel-row {
  @include box-sizing(border-box);
  display: inline-block;
  width: 100%;
  text-align: center;
}

nav {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
}

.horizontal-nav {
  list-style-type: none;
  z-index: 3;
  @extend %GillSans;
  text-transform: uppercase;
  @include tracking(2);
  a {
    color: $white;
    padding: 0.33rem 0.5rem;
    border-bottom: 2px solid $white;
    &:hover {
       border-bottom: 2px solid $off-white;
    }

  }
}

.nav-container{
  position: relative;
  max-width: $container-max;
  margin: auto;
  z-index: 3;
}
.nav-index {
  ul {
    list-style-type: none;
  }
}