---
title: publishing
data:
  catalog: catalog.yml
---

<div class="grid-container leader-3">
  <main class="column-12 pre-6 post-6 trailer-2">
    <h2 class="text-center trailer-2">{{data.catalog.sections.commisions.publication.title}}</h2>
    {% for p in data.catalog.sections.commisions.publication.description %}
      <p>{{p}}</p>
    {% endfor %}
  </main>
  {% for item in data.catalog.publishing %}

    <section class="column-10 pre-2 trailer-1 phone-trailer-3">
      <div class="column-6">
        <a href="/commisions/publishing/{{item.title|lower()|replace(' ','-','g')|replace(',', '','g')|replace(';', '','g')|replace('!', '','g')|replace('’', '','g')|replace('—', '','g')}}">
          <img src="/assets/img/{{item.thumbnail}}" alt="{{ item.title }}">
        </a>
      </div>
      <div class="column-4">
        <h5 class="body-face phone-leader-0">
          <a href="/commisions/publishing/{{item.title|lower()|replace(' ','-','g')|replace(',', '','g')|replace(';', '','g')|replace('!', '','g')|replace('’', '','g')|replace('—', '','g')}}">
            {{ item.title }}
          </a>
        </h5>

        {% if item.author %}
          {% if item.author_site %}
            <p class="trailer-0">By <a href="{{item.author_site}}">{{ item.author }}</a></p>
          {% else %}
            <p class="trailer-0">By {{ item.author }}</p>
          {% endif %}
        {% endif %}

        {% if item.artist %}
          {% if item.artist_site %}
            <p class="trailer-0">Art by <a href="{{item.artist_site}}">{{ item.artist }}</a></p>
          {% else %}
            <p class="trailer-0">Art by {{ item.artist }}</p>
          {% endif %}
        {% endif %}

        <p>{{item.release}}</p>

      </div>
    </section>
  {% endfor %}

</div>
