/*
┌─────────────────────────────────────────────────┐
├─────────────────────────────────────────────────┤
│ Point Sizes - Reference                         │
├─────────────────────────────────────────────────┤
├─────────────────────────────────────────────────┤
│ PIXELS                                   POINTS │
├─────────────────────────────────────────────────┤
│ 97.000                                   72.75  │
├─────────────────────────────────────────────────┤
│ 83.383                                   62.5   │
├─────────────────────────────────────────────────┤
│ 58.188                                   43.64  │
├─────────────────────────────────────────────────┤
│ 50.020                                   37.5   │
├─────────────────────────────────────────────────┤
│ 34.906                                   26.18  │
├─────────────────────────────────────────────────┤
│ 30.006                                   22.5   │
├─────────────────────────────────────────────────┤
│ 20.939                                   15.7   │
├─────────────────────────────────────────────────┤
│ 18.000                                   13.5   │
├─────────────────────────────────────────────────┤
│ 12.561                                   9.42   │
├─────────────────────────────────────────────────┤
└─────────────────────────────────────────────────┘
*/

// ┌─────────────────┐
// │ PX TO REM       │
// └─────────────────┘
@function calculateRem($size) {
  $remSize: $size / 16;
  //Default font size on html element is 100%, equivalent to 16px, or 12 point.;
  @return $remSize*1rem;
}

// ┌─────────────────┐
// │ PIXEL FALLBACK  │
// └─────────────────┘
@mixin fontSize($size) {
  font-size: $size*1px;
  font-size: calculateRem($size);
}

// ┌─────────────────┐
// │ POINTSIZES      │
// └─────────────────┘
%p9-5 {
  $shift: 0;
  font-size: 9.42*$point;
  line-height: 1*$baseline;
  margin-top: 0;
  padding-top: $shift*$p;
  margin-bottom: -$shift*$p;}
%p13-5 {
  $shift: 0;
  font-size:13.5*$point;
  line-height: 1*$baseline;
  margin-top: 0;
  padding-top: $shift*$p;
  margin-bottom: -$shift*$p;}
%p16 {
  $shift: 0;
  font-size:15.7*$point;
  line-height: 1*$baseline;
  margin-top: 0;
  padding-top: $shift*$p;
  margin-bottom: -$shift*$p;}
%p22-5 {
  $shift: 0;
  font-size:22.5*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: $shift*$p;
  margin-bottom: -$shift*$p;}
%p26 {
  $shift: 0;
  font-size:26.18*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: $shift*$p;
  margin-bottom: -$shift*$p;}
%p37-5 {
  $shift: 0;
  font-size:37.5*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: $shift*$p;
  margin-bottom: -$shift*$p;}
%p44 {
  $shift: 0;
  font-size:43.64*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: $shift*$p;
  margin-bottom: -$shift*$p;}
%p62-5 {
  $shift: 0;
  font-size:62.5*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: $shift*$p;
  margin-bottom: -$shift*$p;}
%p73 {
  $shift: 0;
  font-size:72.55*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: $shift*$p;
  margin-bottom: -$shift*$p;}