---
title: Home
layout: index
index: hey
---

<div class="content-area">
  <h3>There is magic in the physical presence of books, and the methodical setting of ink on paper.</h3>

  <p class="introduction">What other technology for communication has persisted and thrived for over 500 years, transforming cultures around the world in countless ways, fostering education and many struggles for freedom and justice? lone goose press is dedicated to keeping that tradition alive in a tangible way.</p>
</div>
