---
title: realization
---

<div class="container leader-3">
  <main class="column-12 pre-6 post-6 trailer-2">
    <h2 class="text-center trailer-2">Realization</h2>

    <p>The client presents the project, designed by them. I then determine the best approach to accomplish their project, present them a budget and proceed to perform the tasks involved if approved. This may include letterpress printing, digital printing, binding and other processes as necessary. I may arrange to subcontract for work that is not done in the studio.</p>
  </main>


  {% for item in items %}
    <section class="column-10 pre-2 trailer-1 phone-trailer-3">
      <div class="column-6">
        <a href="/commisions/realization/{{item.title|lower()|replace(' ','-')|replace(',', '')|replace('.', '')}}">
          <img src="/assets/img/{{item.thumbnail}}" alt="{{ item.title }}">
        </a>
      </div>
      <div class="column-4">
        <h5 class="body-face phone-leader-0">
          <a href="/commisions/realization/{{item.title|lower()|replace(' ','-')|replace(',', '')|replace('.', '')}}">
            {{ item.title }}
          </a>
        </h5>

        {% if item.commisioned_by %}
          <p class="trailer-0">{{ item.commisioned_by }}</p>
        {% endif %}

        {% if item.release %}
          <p class="trailer-0">{{ item.release }}</p>
        {% endif %}

      </div>
    </section>
  {% endfor %}
</div>
