.index-header {
  background: url(../img/cover-banner.png) no-repeat no-repeat center;
  @include background-size(cover);
  padding: 8*$baseline 0 8*$baseline 0;
  margin-bottom: 2*$baseline;
  z-index: 1;
  position: relative;

  &:before {
    background: url(../img/dot-grid.png);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  h1 {
    position: relative;
    z-index: 2;
    color: $white;
  }
}

.index {
  h3 {
    text-align: center;
  }
}

.introduction {
  @include p16();
  padding-bottom: 2*$baseline;
}

.preview-section {
  margin: 2*$baseline auto;
  article {
    margin-bottom: 1*$baseline;
  }
}